.DS_Store
.idea
apps/*.tgz

corda.jar
corda-*.jar

examples/tmp

corda-tools-network-bootstrapper-4.5.jar

examples/docker/bootstrap/**/*
examples/docker/bootstrap/*.jar
checkpoints_agent-*.log
details-node-*.log
diagnostic-node-*.log
node-*.log


examples/docker/shared/infos
examples/docker/shared/network-parameters
examples/docker/shared/drivers
examples/docker/shared/cordapps/*.jar
examples/docker/splunk/*.tgz

node_modules
